body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #message-container {
    background-color: white;
    max-width: 1200px;
    width: 40%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }


  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: white;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 40%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }