<!DOCTYPE html>
 <html lang ="en">
 <html>
    <head>
        <title> 
            Image Tester Site
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/javascript" href="saveImage.js"/>
        <script type = "text/javascript">
            function preview_image(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('output_image');
                    output.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
            function isDone(){
                result = confirm("Done Changing Your Profile?");
            }
        </script>
    </head>
    <!-- action="/images" -->
    <body>
        <form method="POST" enctype="multipart/form-data" action="profilepic">
            <div class="form-control">
                <label class="header">Upload Profile Photo:</label>
                <input type="file" name="profilepic" accept="image/*" onchange="preview_image(event)">
                <img id="output_image"/>
                <input type = "submit" value = "Upload Profile Picture">
            </div>
        </form>
        <form id = "form" method = "POST" onsubmit = "return isDone();" action = "displayImageTester.html">
            <div class = "info">
                <fieldset id = "userInfo">
                    <label>First Name: </label><input type = "text" id = "fname" name = "fname" value = '<%= User.firstname %>' required>
                    <br>
                    <label>Last Name: </label><input type = "text" id = "lname" name = "lname" value = '<%= User.lastname %>' required>
                    <br>
                    <label>Username: </label><input type = "text" id = "username" name = "username" minlength = "3" maxlength = "30" value = '<%= User.firstname %>' >
                    <br>
                    <label>Bio: </label><input type = "text" id = "bio" name = "bio" maxlength = "280" value = '<%= User.bio %>' >
                    <br>
                    <label>Favorite Movie: </label><input type = "text" id = "favMovie" name = "favMovie" maxlength="280" value = '<%= User.favmovie %>' >
                    <br>
                    <!-- <div class="form-control">
                        <label class="header">Upload Profile Photo:</label>
                        <input type="file" name="profilepic" accept="image/*" onchange="preview_image(event)">
                        <img id="output_image"/>
                    </div> -->
                </fieldset>
                <button type = "button" value = "Cancel" id = "cancelSubmit" onsubmit = "return isDone()" action = "profileMMU.ejs">Cancel</button>
                <button type = "button" value = "Pick Genres" id = "pickGenres" onclick = "location.href = 'towson.edu'">Pick Genres</button>
                <input type = "submit" value = "Done" id = "submit" >
            </div>
        </form>
    </body>
    <footer>
        
    </footer>
</html>