    body {
      background-color: #eee;
      color: #444;
    }
    
    .fa {
      color: #fff;
    }
    
    #userList {
      display: all;
    }
    
    #loader {
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
      top: 40%;
    }
    .chatScroll {
      width: 1200px;
      height: 450px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      padding: 20px;
    }
    .left {
      float: right; /* don't ask */
    }
    .right {
      width: 700px;
      height: 450px;
      float: left;
      padding: 20px;;
    }
    .sendMessage {   
      text-align: center; 
      position: center;
      width: 1200px;
      overflow-y: auto;
    }
    .roomsBox {
      position: left;
      text-align: center;
    }